{
  "openapi": "3.0.0",
  "info": {
    "title": "GetResponse Contacts Skill API",
    "version": "1.0.0",
    "description": "Supported subset of the official 2026-09-09 contract, with selected SMB live scenarios verified that day. See references/api-guide.md for workflow constraints and verification scope.",
    "x-source-url": "https://apireference.getresponse.com/open-api.json",
    "x-source-sha256": "a8c2d934442d3ea8884bb5135f63686a00d364856241d467a63d7a37a0327a3d"
  },
  "servers": [
    {
      "url": "https://api.getresponse.com/v3",
      "description": "GetResponse"
    },
    {
      "url": "https://api3.getresponse360.com/v3",
      "description": "GetResponse MAX US"
    },
    {
      "url": "https://api3.getresponse360.pl/v3",
      "description": "GetResponse MAX PL"
    }
  ],
  "paths": {
    "/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contact list",
        "description": "You can filter the resource using criteria specified as `query[*]`. You can provide multiple criteria, to use AND logic. You can sort the resource using parameters specified as `sort[*]`. You can specify multiple fields to sort by.",
        "operationId": "getContactList",
        "parameters": [
          {
            "name": "query[email]",
            "in": "query",
            "description": "Search contacts by email",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query[name]",
            "in": "query",
            "description": "Search contacts by name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query[campaignId]",
            "in": "query",
            "description": "Search contacts by campaign ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query[origin]",
            "in": "query",
            "description": "Search contacts by origin",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "import",
                "email",
                "www",
                "panel",
                "leads",
                "sale",
                "api",
                "survey",
                "iphone",
                "copy",
                "landing_page",
                "webinar",
                "website_builder_elegant",
                "chat",
                "course",
                "premium_newsletter"
              ]
            }
          },
          {
            "name": "query[createdOn][from]",
            "in": "query",
            "description": "Return only contacts created on or after the given date. Use ISO 8601 format",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DateOrDateTime"
            }
          },
          {
            "name": "query[createdOn][to]",
            "in": "query",
            "description": "Return only contacts created on or before the given date. Use ISO 8601 format",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DateOrDateTime"
            }
          },
          {
            "name": "query[changedOn][from]",
            "in": "query",
            "description": "Return only contacts whose data was changed on or after the given date. Use ISO 8601 format",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DateOrDateTime"
            }
          },
          {
            "name": "query[changedOn][to]",
            "in": "query",
            "description": "Return only contacts whose data was changed on or before the given date. Use ISO 8601 format",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DateOrDateTime"
            }
          },
          {
            "name": "sort[email]",
            "in": "query",
            "description": "Sort by email",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortOrderEnum"
            }
          },
          {
            "name": "sort[name]",
            "in": "query",
            "description": "Sort by name",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortOrderEnum"
            }
          },
          {
            "name": "sort[createdOn]",
            "in": "query",
            "description": "Sort contacts by subscription date",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortOrderEnum"
            }
          },
          {
            "name": "sort[changedOn]",
            "in": "query",
            "description": "Sort by change date",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortOrderEnum"
            }
          },
          {
            "name": "sort[campaignId]",
            "in": "query",
            "description": "Sort by campaign ID",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortOrderEnum"
            }
          },
          {
            "name": "additionalFlags",
            "in": "query",
            "description": "The additional flags parameter with the value 'exactMatch' will search for contacts with the exact value of the email and name provided in the query string. Without this flag, matching is done via a standard 'like' comparison, which may sometimes be slow.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-set": [
              "exactMatch"
            ]
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "name": "X-Request-Source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getresponse/getresponse-contacts-skill@1.0.0"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ContactList"
          },
          "400": {
            "description": "Request validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 400,
                      "code": 1000,
                      "codeDescription": "General error of validation process, more details should be in context section",
                      "message": "Validation error, see context section for more information",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1000",
                      "context": {
                        "validationType": "searchFilter[query]",
                        "fieldName": "name",
                        "originalName": "lorem-ipsum",
                        "errorDescription": "Not allowed search field"
                      },
                      "uuid": "77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 401,
                      "code": 1014,
                      "codeDescription": "Problem during authentication process, check headers!",
                      "message": "Unable to authenticate request. Check credentials or authentication method details",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1014",
                      "context": {
                        "authenticationType": "auth_token"
                      },
                      "uuid": "62417847-4f12-4c25-9b3a-0b619a187efe"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The throttling limit has been reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 429,
                      "code": 1015,
                      "codeDescription": "Too many request to API, quota reached, please wait till next quota window",
                      "message": "You have reached your requests limit for this time window, please wait...",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1015",
                      "context": {
                        "currentLimit": 30000,
                        "timeToReset": "100 seconds"
                      },
                      "uuid": "510c6726-7f65-46b7-a798-ca403133924f"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a new contact",
        "operationId": "createContact",
        "requestBody": {
          "$ref": "#/components/requestBodies/NewContact"
        },
        "responses": {
          "202": {
            "description": ">\nIf the request is successful, the API returns the HTTP code **202 Accepted**.\nThis means that the contact has been preliminarily validated and added to the queue. \nIt may take a few minutes to process the queue and add the contact to the list. If your contact didn't appear on the list, there's a possibility that it was rejected at a later stage of processing. \n\n### Double opt-in\n\nCampaigns can be set to double opt-in.\nThis means that the contact has to click a link in a confirmation message before they can be added to your list.\nUnconfirmed contacts are not returned by the API and can only be found using Search Contacts.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 409,
                      "code": 1008,
                      "codeDescription": "There is another resource with the same value of unique property",
                      "message": "Property value is already taken",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1008",
                      "context": {
                        "value": "test-value"
                      },
                      "uuid": "b89a0d53-67f6-4269-b207-223b42b6bfbd"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 400,
                      "code": 1000,
                      "codeDescription": "General error of validation process, more details should be in context section",
                      "message": "Validation error, see context section for more information",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1000",
                      "context": {
                        "validationType": "searchFilter[query]",
                        "fieldName": "name",
                        "originalName": "lorem-ipsum",
                        "errorDescription": "Not allowed search field"
                      },
                      "uuid": "77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 401,
                      "code": 1014,
                      "codeDescription": "Problem during authentication process, check headers!",
                      "message": "Unable to authenticate request. Check credentials or authentication method details",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1014",
                      "context": {
                        "authenticationType": "auth_token"
                      },
                      "uuid": "62417847-4f12-4c25-9b3a-0b619a187efe"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The throttling limit has been reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 429,
                      "code": 1015,
                      "codeDescription": "Too many request to API, quota reached, please wait till next quota window",
                      "message": "You have reached your requests limit for this time window, please wait...",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1015",
                      "context": {
                        "currentLimit": 30000,
                        "timeToReset": "100 seconds"
                      },
                      "uuid": "510c6726-7f65-46b7-a798-ca403133924f"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ],
        "parameters": [
          {
            "name": "X-Request-Source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getresponse/getresponse-contacts-skill@1.0.0"
              ]
            }
          }
        ]
      }
    },
    "/contacts/{contactId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contact details by contact ID",
        "description": "Returns all available information about an active (non-deleted) contact identified by `contactId`. The response includes basic contact data, associated tags, and values of custom fields",
        "operationId": "getContactById",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "name": "X-Request-Source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getresponse/getresponse-contacts-skill@1.0.0"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ContactDetails"
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 404,
                      "code": 1013,
                      "codeDescription": "The requested resource was not found",
                      "message": "Resource not found",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1013",
                      "context": {
                        "contactId": "pVyRW"
                      },
                      "uuid": "87b90a96-5ee5-4ca4-8180-ac00adcf62c7"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 400,
                      "code": 1000,
                      "codeDescription": "General error of validation process, more details should be in context section",
                      "message": "Validation error, see context section for more information",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1000",
                      "context": {
                        "validationType": "searchFilter[query]",
                        "fieldName": "name",
                        "originalName": "lorem-ipsum",
                        "errorDescription": "Not allowed search field"
                      },
                      "uuid": "77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 401,
                      "code": 1014,
                      "codeDescription": "Problem during authentication process, check headers!",
                      "message": "Unable to authenticate request. Check credentials or authentication method details",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1014",
                      "context": {
                        "authenticationType": "auth_token"
                      },
                      "uuid": "62417847-4f12-4c25-9b3a-0b619a187efe"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The throttling limit has been reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 429,
                      "code": 1015,
                      "codeDescription": "Too many request to API, quota reached, please wait till next quota window",
                      "message": "You have reached your requests limit for this time window, please wait...",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1015",
                      "context": {
                        "currentLimit": 30000,
                        "timeToReset": "100 seconds"
                      },
                      "uuid": "510c6726-7f65-46b7-a798-ca403133924f"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update contact details",
        "description": "Skip the fields you don't want to update. If tags and custom fields are provided, they'll be **replaced** with the values sent in this request.  If the `campaignId` changes, the contact will be moved from the original campaign (list) to the new campaign (list). Their activity history and statistics will also be moved.",
        "operationId": "updateContact",
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateContact"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ContactDetails"
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 404,
                      "code": 1013,
                      "codeDescription": "The requested resource was not found",
                      "message": "Resource not found",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1013",
                      "context": {
                        "contactId": "pVyRW"
                      },
                      "uuid": "87b90a96-5ee5-4ca4-8180-ac00adcf62c7"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 409,
                      "code": 1008,
                      "codeDescription": "There is another resource with the same value of unique property",
                      "message": "Property value is already taken",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1008",
                      "context": {
                        "value": "test-value"
                      },
                      "uuid": "b89a0d53-67f6-4269-b207-223b42b6bfbd"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 400,
                      "code": 1000,
                      "codeDescription": "General error of validation process, more details should be in context section",
                      "message": "Validation error, see context section for more information",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1000",
                      "context": {
                        "validationType": "searchFilter[query]",
                        "fieldName": "name",
                        "originalName": "lorem-ipsum",
                        "errorDescription": "Not allowed search field"
                      },
                      "uuid": "77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 401,
                      "code": 1014,
                      "codeDescription": "Problem during authentication process, check headers!",
                      "message": "Unable to authenticate request. Check credentials or authentication method details",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1014",
                      "context": {
                        "authenticationType": "auth_token"
                      },
                      "uuid": "62417847-4f12-4c25-9b3a-0b619a187efe"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The throttling limit has been reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 429,
                      "code": 1015,
                      "codeDescription": "Too many request to API, quota reached, please wait till next quota window",
                      "message": "You have reached your requests limit for this time window, please wait...",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1015",
                      "context": {
                        "currentLimit": 30000,
                        "timeToReset": "100 seconds"
                      },
                      "uuid": "510c6726-7f65-46b7-a798-ca403133924f"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ],
        "parameters": [
          {
            "name": "X-Request-Source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getresponse/getresponse-contacts-skill@1.0.0"
              ]
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a contact by contact ID",
        "operationId": "deleteContact",
        "parameters": [
          {
            "name": "messageId",
            "in": "query",
            "description": ">\nThe ID of a message (such as a newsletter, an autoresponder, or an RSS-newsletter).\nWhen passed, this method will simulate the unsubscribe process, as if the contact clicked the unsubscribe link in a given message.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ipAddress",
            "in": "query",
            "description": "This makes it possible to pass the IP from which the contact unsubscribed. Used only if the `messageId` was send.",
            "schema": {
              "type": "string",
              "format": "ipv4"
            }
          },
          {
            "name": "X-Request-Source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getresponse/getresponse-contacts-skill@1.0.0"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 404,
                      "code": 1013,
                      "codeDescription": "The requested resource was not found",
                      "message": "Resource not found",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1013",
                      "context": {
                        "contactId": "pVyRW"
                      },
                      "uuid": "87b90a96-5ee5-4ca4-8180-ac00adcf62c7"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 400,
                      "code": 1000,
                      "codeDescription": "General error of validation process, more details should be in context section",
                      "message": "Validation error, see context section for more information",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1000",
                      "context": {
                        "validationType": "searchFilter[query]",
                        "fieldName": "name",
                        "originalName": "lorem-ipsum",
                        "errorDescription": "Not allowed search field"
                      },
                      "uuid": "77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 401,
                      "code": 1014,
                      "codeDescription": "Problem during authentication process, check headers!",
                      "message": "Unable to authenticate request. Check credentials or authentication method details",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1014",
                      "context": {
                        "authenticationType": "auth_token"
                      },
                      "uuid": "62417847-4f12-4c25-9b3a-0b619a187efe"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The throttling limit has been reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 429,
                      "code": 1015,
                      "codeDescription": "Too many request to API, quota reached, please wait till next quota window",
                      "message": "You have reached your requests limit for this time window, please wait...",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1015",
                      "context": {
                        "currentLimit": 30000,
                        "timeToReset": "100 seconds"
                      },
                      "uuid": "510c6726-7f65-46b7-a798-ca403133924f"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/contactId"
        }
      ]
    },
    "/contacts/batch": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create multiple contacts at once",
        "description": "This endpoint lets you create multiple contacts in one request.\n\n**Note** \n\nThis endpoint is subject to special limits and throttling. You can make 80 calls per time frame (10 minutes) and only 1 call per second. The allowed batch size is 1000 contacts. For more information, check our [API Docs](https://apidocs.getresponse.com/v3/case-study/adding-batch-contacts).",
        "operationId": "createBatchContacts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "campaignId",
                  "contacts"
                ],
                "properties": {
                  "campaignId": {
                    "description": "ID of the destination campaign (list).",
                    "type": "string",
                    "example": "C"
                  },
                  "contacts": {
                    "description": "Contacts that will be created.",
                    "type": "array",
                    "items": {
                      "required": [
                        "email"
                      ],
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email",
                          "example": "john.doe@example.com"
                        },
                        "name": {
                          "type": "string",
                          "maxLength": 128,
                          "minLength": 1,
                          "example": "John Doe"
                        },
                        "dayOfCycle": {
                          "description": "The day a contact is on in an autoresponder cycle.",
                          "type": "string",
                          "example": "42"
                        },
                        "scoring": {
                          "description": "Contact's score",
                          "type": "number",
                          "example": 8
                        },
                        "ipAddress": {
                          "description": "Contact's IP address. IPv4 and IPv6 formats are accepted.",
                          "example": "1.2.3.4",
                          "oneOf": [
                            {
                              "type": "string",
                              "format": "ipv4"
                            },
                            {
                              "type": "string",
                              "format": "ipv6"
                            }
                          ]
                        },
                        "tags": {
                          "required": [
                            "ids"
                          ],
                          "properties": {
                            "ids": {
                              "description": "List of tag IDs.",
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "kL6Nh"
                              }
                            }
                          },
                          "type": "object"
                        },
                        "customFieldValues": {
                          "type": "array",
                          "items": {
                            "required": [
                              "customFieldId",
                              "value"
                            ],
                            "properties": {
                              "customFieldId": {
                                "description": "Custom field ID.",
                                "type": "string",
                                "example": "kL6Nh"
                              },
                              "value": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "18-35"
                                }
                              }
                            },
                            "type": "object"
                          }
                        }
                      },
                      "type": "object"
                    }
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": ">\nIf the request is successful, the API returns the HTTP code **202 Accepted**.\nThis means that the contacts has been preliminarily validated and added to the queue. \nIt may take a few minutes to process the queue and add the contacts to the list. If your contact doesn't appear on the list, they were likely rejected during the late processing stages. \n\n### Double opt-in\n\nCampaigns (lists) can be set to use double opt-in.\nThis means that a contact has to click a link in a confirmation message before they can be added to your list.\nUnconfirmed contacts are not returned by API and can only be found using Search Contacts.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 409,
                      "code": 1008,
                      "codeDescription": "There is another resource with the same value of unique property",
                      "message": "Property value is already taken",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1008",
                      "context": {
                        "value": "test-value"
                      },
                      "uuid": "b89a0d53-67f6-4269-b207-223b42b6bfbd"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 400,
                      "code": 1000,
                      "codeDescription": "General error of validation process, more details should be in context section",
                      "message": "Validation error, see context section for more information",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1000",
                      "context": {
                        "validationType": "searchFilter[query]",
                        "fieldName": "name",
                        "originalName": "lorem-ipsum",
                        "errorDescription": "Not allowed search field"
                      },
                      "uuid": "77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 401,
                      "code": 1014,
                      "codeDescription": "Problem during authentication process, check headers!",
                      "message": "Unable to authenticate request. Check credentials or authentication method details",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1014",
                      "context": {
                        "authenticationType": "auth_token"
                      },
                      "uuid": "62417847-4f12-4c25-9b3a-0b619a187efe"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The throttling limit has been reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 429,
                      "code": 1015,
                      "codeDescription": "Too many request to API, quota reached, please wait till next quota window",
                      "message": "You have reached your requests limit for this time window, please wait...",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1015",
                      "context": {
                        "currentLimit": 30000,
                        "timeToReset": "100 seconds"
                      },
                      "uuid": "510c6726-7f65-46b7-a798-ca403133924f"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ],
        "parameters": [
          {
            "name": "X-Request-Source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getresponse/getresponse-contacts-skill@1.0.0"
              ]
            }
          }
        ]
      }
    },
    "/contacts/{contactId}/tags": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Upsert the tags of a contact",
        "description": "Upsert (add or update) the tags of a contact. This method doesn't remove (unassign) tags.",
        "operationId": "upsertTags",
        "requestBody": {
          "$ref": "#/components/requestBodies/UpsertContactTags"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpsertContactTags"
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 404,
                      "code": 1013,
                      "codeDescription": "The requested resource was not found",
                      "message": "Resource not found",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1013",
                      "context": {
                        "contactId": "pVyRW"
                      },
                      "uuid": "87b90a96-5ee5-4ca4-8180-ac00adcf62c7"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 400,
                      "code": 1000,
                      "codeDescription": "General error of validation process, more details should be in context section",
                      "message": "Validation error, see context section for more information",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1000",
                      "context": {
                        "validationType": "searchFilter[query]",
                        "fieldName": "name",
                        "originalName": "lorem-ipsum",
                        "errorDescription": "Not allowed search field"
                      },
                      "uuid": "77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 401,
                      "code": 1014,
                      "codeDescription": "Problem during authentication process, check headers!",
                      "message": "Unable to authenticate request. Check credentials or authentication method details",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1014",
                      "context": {
                        "authenticationType": "auth_token"
                      },
                      "uuid": "62417847-4f12-4c25-9b3a-0b619a187efe"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The throttling limit has been reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 429,
                      "code": 1015,
                      "codeDescription": "Too many request to API, quota reached, please wait till next quota window",
                      "message": "You have reached your requests limit for this time window, please wait...",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1015",
                      "context": {
                        "currentLimit": 30000,
                        "timeToReset": "100 seconds"
                      },
                      "uuid": "510c6726-7f65-46b7-a798-ca403133924f"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ],
        "x-type": "upsert",
        "parameters": [
          {
            "name": "X-Request-Source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getresponse/getresponse-contacts-skill@1.0.0"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/contactId"
        }
      ]
    },
    "/contacts/{contactId}/custom-fields": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Upsert the custom fields of a contact",
        "description": "Upsert (add or update) the custom fields of a contact. This method doesn't remove (unassign) custom fields.",
        "operationId": "upsertContactCustoms",
        "requestBody": {
          "$ref": "#/components/requestBodies/UpsertContactCustomFields"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ContactCustomFieldList"
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 404,
                      "code": 1013,
                      "codeDescription": "The requested resource was not found",
                      "message": "Resource not found",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1013",
                      "context": {
                        "contactId": "pVyRW"
                      },
                      "uuid": "87b90a96-5ee5-4ca4-8180-ac00adcf62c7"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 400,
                      "code": 1000,
                      "codeDescription": "General error of validation process, more details should be in context section",
                      "message": "Validation error, see context section for more information",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1000",
                      "context": {
                        "validationType": "searchFilter[query]",
                        "fieldName": "name",
                        "originalName": "lorem-ipsum",
                        "errorDescription": "Not allowed search field"
                      },
                      "uuid": "77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 401,
                      "code": 1014,
                      "codeDescription": "Problem during authentication process, check headers!",
                      "message": "Unable to authenticate request. Check credentials or authentication method details",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1014",
                      "context": {
                        "authenticationType": "auth_token"
                      },
                      "uuid": "62417847-4f12-4c25-9b3a-0b619a187efe"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The throttling limit has been reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 429,
                      "code": 1015,
                      "codeDescription": "Too many request to API, quota reached, please wait till next quota window",
                      "message": "You have reached your requests limit for this time window, please wait...",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1015",
                      "context": {
                        "currentLimit": 30000,
                        "timeToReset": "100 seconds"
                      },
                      "uuid": "510c6726-7f65-46b7-a798-ca403133924f"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ],
        "x-type": "upsert",
        "parameters": [
          {
            "name": "X-Request-Source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getresponse/getresponse-contacts-skill@1.0.0"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/contactId"
        }
      ]
    },
    "/contacts/{contactId}/consents": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contact's consent fields",
        "description": "Returns a list of all consent fields assigned to the contact, including their current status and history of changes.",
        "operationId": "getContactConsentsById",
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "name": "X-Request-Source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getresponse/getresponse-contacts-skill@1.0.0"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ContactConsentList"
          },
          "400": {
            "description": "Request validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 400,
                      "code": 1000,
                      "codeDescription": "General error of validation process, more details should be in context section",
                      "message": "Validation error, see context section for more information",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1000",
                      "context": {
                        "validationType": "searchFilter[query]",
                        "fieldName": "name",
                        "originalName": "lorem-ipsum",
                        "errorDescription": "Not allowed search field"
                      },
                      "uuid": "77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 401,
                      "code": 1014,
                      "codeDescription": "Problem during authentication process, check headers!",
                      "message": "Unable to authenticate request. Check credentials or authentication method details",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1014",
                      "context": {
                        "authenticationType": "auth_token"
                      },
                      "uuid": "62417847-4f12-4c25-9b3a-0b619a187efe"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The throttling limit has been reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 429,
                      "code": 1015,
                      "codeDescription": "Too many request to API, quota reached, please wait till next quota window",
                      "message": "You have reached your requests limit for this time window, please wait...",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1015",
                      "context": {
                        "currentLimit": 30000,
                        "timeToReset": "100 seconds"
                      },
                      "uuid": "510c6726-7f65-46b7-a798-ca403133924f"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ]
      }
    },
    "/campaigns": {
      "get": {
        "tags": [
          "Campaigns (Lists)"
        ],
        "summary": "Get a list of campaigns",
        "description": "Returns a list of campaigns (contact lists). You can filter the resource using criteria specified as `query[*]`. You can provide multiple criteria, to use AND logic. You can sort the resource using parameters specified as `sort[*]`. You can specify multiple fields to sort by.",
        "operationId": "getCampaignList",
        "parameters": [
          {
            "name": "query[name]",
            "in": "query",
            "description": "Retrieve campaigns (contact lists) filtered by name",
            "required": false,
            "schema": {
              "type": "string",
              "example": "campaign_name"
            }
          },
          {
            "name": "query[isDefault]",
            "in": "query",
            "description": "Retrieve campaigns (contact lists) depending on whether they are marked as default (`isDefault` = `true`)",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "sort[name]",
            "in": "query",
            "description": "Sort by name",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortOrderEnum"
            }
          },
          {
            "name": "sort[createdOn]",
            "in": "query",
            "description": "Sort campaigns (contact lists) by creation date",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortOrderEnum"
            }
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "name": "X-Request-Source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getresponse/getresponse-contacts-skill@1.0.0"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CampaignList"
          },
          "400": {
            "description": "Request validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 400,
                      "code": 1000,
                      "codeDescription": "General error of validation process, more details should be in context section",
                      "message": "Validation error, see context section for more information",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1000",
                      "context": {
                        "validationType": "searchFilter[query]",
                        "fieldName": "name",
                        "originalName": "lorem-ipsum",
                        "errorDescription": "Not allowed search field"
                      },
                      "uuid": "77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 401,
                      "code": 1014,
                      "codeDescription": "Problem during authentication process, check headers!",
                      "message": "Unable to authenticate request. Check credentials or authentication method details",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1014",
                      "context": {
                        "authenticationType": "auth_token"
                      },
                      "uuid": "62417847-4f12-4c25-9b3a-0b619a187efe"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The throttling limit has been reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 429,
                      "code": 1015,
                      "codeDescription": "Too many request to API, quota reached, please wait till next quota window",
                      "message": "You have reached your requests limit for this time window, please wait...",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1015",
                      "context": {
                        "currentLimit": 30000,
                        "timeToReset": "100 seconds"
                      },
                      "uuid": "510c6726-7f65-46b7-a798-ca403133924f"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Campaigns (Lists)"
        ],
        "summary": "Create a campaign",
        "description": "This endpoint allows you to create a campaign (contact list). You can create up to 1000 campaigns (contact lists).",
        "operationId": "createCampaign",
        "requestBody": {
          "$ref": "#/components/requestBodies/NewCampaign"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/Campaign"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 409,
                      "code": 1008,
                      "codeDescription": "There is another resource with the same value of unique property",
                      "message": "Property value is already taken",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1008",
                      "context": {
                        "value": "test-value"
                      },
                      "uuid": "b89a0d53-67f6-4269-b207-223b42b6bfbd"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 400,
                      "code": 1000,
                      "codeDescription": "General error of validation process, more details should be in context section",
                      "message": "Validation error, see context section for more information",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1000",
                      "context": {
                        "validationType": "searchFilter[query]",
                        "fieldName": "name",
                        "originalName": "lorem-ipsum",
                        "errorDescription": "Not allowed search field"
                      },
                      "uuid": "77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 401,
                      "code": 1014,
                      "codeDescription": "Problem during authentication process, check headers!",
                      "message": "Unable to authenticate request. Check credentials or authentication method details",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1014",
                      "context": {
                        "authenticationType": "auth_token"
                      },
                      "uuid": "62417847-4f12-4c25-9b3a-0b619a187efe"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The throttling limit has been reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 429,
                      "code": 1015,
                      "codeDescription": "Too many request to API, quota reached, please wait till next quota window",
                      "message": "You have reached your requests limit for this time window, please wait...",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1015",
                      "context": {
                        "currentLimit": 30000,
                        "timeToReset": "100 seconds"
                      },
                      "uuid": "510c6726-7f65-46b7-a798-ca403133924f"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ],
        "parameters": [
          {
            "name": "X-Request-Source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getresponse/getresponse-contacts-skill@1.0.0"
              ]
            }
          }
        ]
      }
    },
    "/campaigns/{campaignId}": {
      "get": {
        "tags": [
          "Campaigns (Lists)"
        ],
        "summary": "Get a single campaign by the campaign ID",
        "description": "Retrieve detailed information about a single campaign (contact list) by its unique campaignId. The response includes additional campaign settings such as postal address, subscription notification and confirmation settings, opt-in type, and profile information.",
        "operationId": "getCampaign",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "name": "X-Request-Source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getresponse/getresponse-contacts-skill@1.0.0"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Campaign"
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 404,
                      "code": 1013,
                      "codeDescription": "The requested resource was not found",
                      "message": "Resource not found",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1013",
                      "context": {
                        "contactId": "pVyRW"
                      },
                      "uuid": "87b90a96-5ee5-4ca4-8180-ac00adcf62c7"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 400,
                      "code": 1000,
                      "codeDescription": "General error of validation process, more details should be in context section",
                      "message": "Validation error, see context section for more information",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1000",
                      "context": {
                        "validationType": "searchFilter[query]",
                        "fieldName": "name",
                        "originalName": "lorem-ipsum",
                        "errorDescription": "Not allowed search field"
                      },
                      "uuid": "77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 401,
                      "code": 1014,
                      "codeDescription": "Problem during authentication process, check headers!",
                      "message": "Unable to authenticate request. Check credentials or authentication method details",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1014",
                      "context": {
                        "authenticationType": "auth_token"
                      },
                      "uuid": "62417847-4f12-4c25-9b3a-0b619a187efe"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The throttling limit has been reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 429,
                      "code": 1015,
                      "codeDescription": "Too many request to API, quota reached, please wait till next quota window",
                      "message": "You have reached your requests limit for this time window, please wait...",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1015",
                      "context": {
                        "currentLimit": 30000,
                        "timeToReset": "100 seconds"
                      },
                      "uuid": "510c6726-7f65-46b7-a798-ca403133924f"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/campaignId"
        }
      ]
    },
    "/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "Get the list of tags",
        "description": "Provides a list of tags. You can filter the resource using criteria specified as `query[*]`. You can provide multiple criteria, to use AND logic. You can sort the resource using parameters specified as `sort[*]`. You can specify multiple fields to sort by.",
        "operationId": "getTagsList",
        "parameters": [
          {
            "name": "query[name]",
            "in": "query",
            "description": "Search tags by name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query[createdAt][from]",
            "in": "query",
            "description": "Search tags created from this date",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DateOrDateTime"
            }
          },
          {
            "name": "query[createdAt][to]",
            "in": "query",
            "description": "Search tags created to this date",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DateOrDateTime"
            }
          },
          {
            "name": "sort[createdAt]",
            "in": "query",
            "description": "Sort tags by creation date",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortOrderEnum"
            }
          },
          {
            "name": "sort[name]",
            "in": "query",
            "description": "Sort by name",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortOrderEnum"
            }
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "name": "X-Request-Source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getresponse/getresponse-contacts-skill@1.0.0"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TagList"
          },
          "400": {
            "description": "Request validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 400,
                      "code": 1000,
                      "codeDescription": "General error of validation process, more details should be in context section",
                      "message": "Validation error, see context section for more information",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1000",
                      "context": {
                        "validationType": "searchFilter[query]",
                        "fieldName": "name",
                        "originalName": "lorem-ipsum",
                        "errorDescription": "Not allowed search field"
                      },
                      "uuid": "77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 401,
                      "code": 1014,
                      "codeDescription": "Problem during authentication process, check headers!",
                      "message": "Unable to authenticate request. Check credentials or authentication method details",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1014",
                      "context": {
                        "authenticationType": "auth_token"
                      },
                      "uuid": "62417847-4f12-4c25-9b3a-0b619a187efe"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The throttling limit has been reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 429,
                      "code": 1015,
                      "codeDescription": "Too many request to API, quota reached, please wait till next quota window",
                      "message": "You have reached your requests limit for this time window, please wait...",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1015",
                      "context": {
                        "currentLimit": 30000,
                        "timeToReset": "100 seconds"
                      },
                      "uuid": "510c6726-7f65-46b7-a798-ca403133924f"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "Add a new tag",
        "operationId": "createTag",
        "requestBody": {
          "$ref": "#/components/requestBodies/NewTag"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/TagDetails"
          },
          "400": {
            "description": "Request validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 400,
                      "code": 1000,
                      "codeDescription": "General error of validation process, more details should be in context section",
                      "message": "Validation error, see context section for more information",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1000",
                      "context": {
                        "validationType": "searchFilter[query]",
                        "fieldName": "name",
                        "originalName": "lorem-ipsum",
                        "errorDescription": "Not allowed search field"
                      },
                      "uuid": "77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 401,
                      "code": 1014,
                      "codeDescription": "Problem during authentication process, check headers!",
                      "message": "Unable to authenticate request. Check credentials or authentication method details",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1014",
                      "context": {
                        "authenticationType": "auth_token"
                      },
                      "uuid": "62417847-4f12-4c25-9b3a-0b619a187efe"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The throttling limit has been reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 429,
                      "code": 1015,
                      "codeDescription": "Too many request to API, quota reached, please wait till next quota window",
                      "message": "You have reached your requests limit for this time window, please wait...",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1015",
                      "context": {
                        "currentLimit": 30000,
                        "timeToReset": "100 seconds"
                      },
                      "uuid": "510c6726-7f65-46b7-a798-ca403133924f"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ],
        "parameters": [
          {
            "name": "X-Request-Source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getresponse/getresponse-contacts-skill@1.0.0"
              ]
            }
          }
        ]
      }
    },
    "/tags/{tagId}": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "Get tag by ID",
        "description": "Retrieve a specific tag by its ID",
        "operationId": "getTagById",
        "parameters": [
          {
            "name": "tagId",
            "in": "path",
            "description": "Unique identifier of the tag. You can retrieve this ID from the [list of tags](https://apireference.getresponse.com/#operation/getTagsList) field: `tagId`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "name": "X-Request-Source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getresponse/getresponse-contacts-skill@1.0.0"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TagDetails"
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 404,
                      "code": 1013,
                      "codeDescription": "The requested resource was not found",
                      "message": "Resource not found",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1013",
                      "context": {
                        "contactId": "pVyRW"
                      },
                      "uuid": "87b90a96-5ee5-4ca4-8180-ac00adcf62c7"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 400,
                      "code": 1000,
                      "codeDescription": "General error of validation process, more details should be in context section",
                      "message": "Validation error, see context section for more information",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1000",
                      "context": {
                        "validationType": "searchFilter[query]",
                        "fieldName": "name",
                        "originalName": "lorem-ipsum",
                        "errorDescription": "Not allowed search field"
                      },
                      "uuid": "77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 401,
                      "code": 1014,
                      "codeDescription": "Problem during authentication process, check headers!",
                      "message": "Unable to authenticate request. Check credentials or authentication method details",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1014",
                      "context": {
                        "authenticationType": "auth_token"
                      },
                      "uuid": "62417847-4f12-4c25-9b3a-0b619a187efe"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The throttling limit has been reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 429,
                      "code": 1015,
                      "codeDescription": "Too many request to API, quota reached, please wait till next quota window",
                      "message": "You have reached your requests limit for this time window, please wait...",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1015",
                      "context": {
                        "currentLimit": 30000,
                        "timeToReset": "100 seconds"
                      },
                      "uuid": "510c6726-7f65-46b7-a798-ca403133924f"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/tagId"
        }
      ]
    },
    "/custom-fields": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Get a list of custom fields",
        "description": "You can filter the resource using criteria specified as `query[*]`. You can provide multiple criteria, to use AND logic. You can sort the resource using parameters specified as `sort[*]`. You can specify multiple fields to sort by.",
        "operationId": "getCustomFieldList",
        "parameters": [
          {
            "name": "query[name]",
            "in": "query",
            "description": "Search custom fields by name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort[name]",
            "in": "query",
            "description": "Sort by name",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortOrderEnum"
            }
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "name": "X-Request-Source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getresponse/getresponse-contacts-skill@1.0.0"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CustomFieldList"
          },
          "400": {
            "description": "Request validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 400,
                      "code": 1000,
                      "codeDescription": "General error of validation process, more details should be in context section",
                      "message": "Validation error, see context section for more information",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1000",
                      "context": {
                        "validationType": "searchFilter[query]",
                        "fieldName": "name",
                        "originalName": "lorem-ipsum",
                        "errorDescription": "Not allowed search field"
                      },
                      "uuid": "77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 401,
                      "code": 1014,
                      "codeDescription": "Problem during authentication process, check headers!",
                      "message": "Unable to authenticate request. Check credentials or authentication method details",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1014",
                      "context": {
                        "authenticationType": "auth_token"
                      },
                      "uuid": "62417847-4f12-4c25-9b3a-0b619a187efe"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The throttling limit has been reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 429,
                      "code": 1015,
                      "codeDescription": "Too many request to API, quota reached, please wait till next quota window",
                      "message": "You have reached your requests limit for this time window, please wait...",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1015",
                      "context": {
                        "currentLimit": 30000,
                        "timeToReset": "100 seconds"
                      },
                      "uuid": "510c6726-7f65-46b7-a798-ca403133924f"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Create a custom field",
        "operationId": "createCustomField",
        "requestBody": {
          "$ref": "#/components/requestBodies/NewCustomField"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CustomFieldDetails"
          },
          "400": {
            "description": "Request validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 400,
                      "code": 1000,
                      "codeDescription": "General error of validation process, more details should be in context section",
                      "message": "Validation error, see context section for more information",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1000",
                      "context": {
                        "validationType": "searchFilter[query]",
                        "fieldName": "name",
                        "originalName": "lorem-ipsum",
                        "errorDescription": "Not allowed search field"
                      },
                      "uuid": "77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 401,
                      "code": 1014,
                      "codeDescription": "Problem during authentication process, check headers!",
                      "message": "Unable to authenticate request. Check credentials or authentication method details",
                      "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1014",
                      "context": {
                        "authenticationType": "auth_token"
                      },
                      "uuid": "62417847-4f12-4c25-9b3a-0b619a187efe"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The throttling limit has been reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "httpStatus": 429,
                      "code": 1015,
[...]
